body{
    font-family: Arial, Helvetica, sans-serif;
}
header{

    display: flex; 
    justify-content: space-between;
    align-items: center; 
    padding: 8px 16px 8px 16px;
    background-color: #2AB7E8;
    
    overflow: hidden;
    
}
.left, .right{
    margin:0px 7px 0px 7px;
}

.right a{
    margin: 0px 7px 0px 7px;
    padding: 3px;

    text-decoration: none;
    color: white;
    transition: 0.3s;
    
}

.right a:hover{
    transition: 0.3s;
    font-weight: bold;
    border-bottom: 1px solid white;
    
}
.dropbtn {

    color: white;
    padding:15%;
    font-size: 16px;
    

  }
  
  
  .dropdown {
    display: none;
    position: absolute;
    right: 5%;
    top:1%
  }
  
  .dropdown-content {
    display: none;
    position:absolute;
    background-color: #f1f1f1;
    min-width: 425px;
    right: 0;
    text-align: center;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .show{display: block;}

main{
    display: flex;
    margin: 7% 5% 10% 5%;
    

    
}
#fotoeqp{
width:50%
}

#logo_hack{
    width: 20%;
    align-self: center;
    margin-left: 1%;

}

.vl{
    align-self: center;
    border-left: 4px solid #2AB7E8;
    height: 140px;
}
main h2{
   font-size: 20px;
    align-self: center;
    text-align: center;

}
h2 strong{
    color: #2AB7E8;
}

@media screen and (max-width:900px){
    main{
        display: block;
    }
    #fotoeqp{
        align-self: center;
        width: 100%;
    }

    #logo_hack{
        display: none;
    }


    .vl{
    display: none;    }
        
    }

    @media  screen and (max-width:720px){
        .dropdown{
            display: inline-block;
        }
    
        nav a{
            display: none;
            font-size: small;
        }
    }