.bg-modal{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-content{
    display: block;
    position: relative;
    width: 600px;
    height: 400px;
    background-color: #FFF8F8;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
}

.modal-content button{
    position: relative;
    top: 45px;
    font-size: large;
    text-decoration: none;
    color: white;
    border: 0px solid black;
    border-radius: 20px;
    padding: 15px 75px 15px 75px;
    background-color: #31C95A;
    text-align: center;
    opacity: 1;
    box-shadow: 5px 5px 8px rgba(0,0,0,0.3);
    transition: 0.25s;
    outline-style: none;
}

.imagem1 {
    margin-left: 1%;
    transition: 0.45s;
    background-color: #40A0C2;
    border-radius: 20px;
}

.imagem1:hover{
    background-color: #31C95A;
}

.imagem2 {
    transition: 0.45s;
    background-color: #40A0C2;
    border-radius: 20px;
}

.imagem2:hover{
    background-color: #31C95A;
}

.modal-content button:hover{
    padding: 15px 85px 15px 85px;
    font-weight: lighter;
}

.modal-content img{
    padding: 5px 45px 5px 45px;
    width: 90px;
    height: 90px;
}

.close{
    font-family: 'Times New Roman', Times, serif;
    margin-right: 10px;
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    transition: 0.5s;
    cursor: pointer;
}

.close:hover{
    transform: rotate(180deg);
}

.close:active{
    color: dimgrey;
}